<footer class="flex justify-between mt-8">
	{% if page.previous %}
	<div class="w-1/3">
		<span aria-hidden="true">&#8592;</span>
		<strong class="uppercase tracking-wide text-sm">
			{{ site.data.labels.post.prev }}
		</strong>
		<a class="block font-bold font-sans text-indigo-600 pt-2 hover:underline"
			href="{{ page.previous.url }}">{{ page.previous.title }}</a>
	</div>
	{% endif %}

	{% if page.next %}
	<div class="w-1/3 text-right">
		<strong class="uppercase tracking-wide text-sm">
			{{ site.data.labels.post.next }}
		</strong>
		<span aria-hidden="true"> &#8594;</span>
		<a class="block font-bold font-sans text-indigo-600 pt-2 hover:underline"
			href="{{ page.next.url }}">{{ page.next.title }}</a>
	</div>
	{% endif %}
</footer>
