<header class="max-w-3xl mx-auto">
{% if page.category %}
  {% capture label_color %}
    {% case page.category %}
      {% when "tutorial" %}
      bg-sky-300
      {% when "review" %}
      bg-red-100
      {% else %}
      bg-indigo-100
      {% endcase %}
  {% endcapture %}

  <strong class="rounded text-sm p-1 text-black uppercase {{ label_color }}">{{ page.category }}</strong>
{% endif %}
  <h1 class="text-4xl lg:text-5xl tracking-tight font-extrabold text-gray-900 md:text-6xl mt-8"
    itemprop="name headline">
    {{ page.title | escape }}
  </h1>
  <span class="block w-40 h-1 lg:h-1.5 bg-amber-500 mt-2"></span>
  <p class="mt-8">
    Posted on {%- assign date_format = "%b %-d, %Y" -%}
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: date_format }}
    </time> {%- if page.modified_date -%} Modified on ~ {%- assign mdate = page.modified_date | date_to_xmlschema -%}
    <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
      {{ mdate | date: date_format }}
    </time> {%- endif -%}
  </p>
</header>
